<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<title>elos - Multipurpose HTML5 Template</title>
	
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    
    <!-- Favicon --> 
	<link rel="shortcut icon" href="/assets/favicon.ico">
    
    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
   	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    <!-- ######### CSS STYLES ######### -->
	
    
<!-- just remove the below comments witch color skin you want to use -->
    <!--<link rel="stylesheet" href="css/colors/blue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/green.css" />-->
    <!--<link rel="stylesheet" href="css/colors/cyan.css" />-->
    <!--<link rel="stylesheet" href="css/colors/orange.css" />-->
    <!--<link rel="stylesheet" href="css/colors/lightblue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/pink.css" />-->
    <!--<link rel="stylesheet" href="css/colors/purple.css" />-->
    <!--<link rel="stylesheet" href="css/colors/bridge.css" />-->
    <!--<link rel="stylesheet" href="css/colors/slate.css" />-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css" />-->
    <!--<link rel="stylesheet" href="css/colors/darkred.css" />-->

<!-- just remove the below comments witch bg patterns you want to use --> 
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-default.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-one.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-two.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-three.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-four.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-five.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-six.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-seven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eight.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-nine.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-ten.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eleven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-twelve.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-thirteen.css" />-->

    
    <!-- mega menu -->
    
       
 
    <!-- Lightbox -->
       
 
</head>

<body>


<div id="trueHeader">
    
    <div class="wrapper">
    
     <div class="container">
    
        <!-- Logo -->
        <div class="logo"><a href="index.html" id="logo"></a></div>
        
        <!-- Menu -->
        <div class="menu_main">
        
          <nav class="navbar navbar-default fhmm" role="navigation">
             <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">Menu <i class="fa fa-bars tbars"></i></button>
             </div><!-- end navbar-header -->
        
            <div id="defaultmenu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
               <li ><a href="home">Home</a>
                       
                    </li>
                    
                    
                    <li><a href="about_us">About us</a></li>
                
                    
                    
                    <li><a href="services" >Services</a></li>
              
                    
                    
                    <li ><a href="ourworks">OurWorks</a></li>
              
                    
                    
                    <li ><a href="blog">Blog</a></li>
               
                    
                    
                    <li ><a href="contact">Contact</a></li>
                 
                
        </div><!-- end #navbar-collapse-1 -->
            
        </nav>
            
        </div>
        
        </div>
        
    </div>
    
    </div>
    
</header>
                
		</div><!-- end #navbar-collapse-1 -->
            
		</nav>
            
		</div>
        
        </div>
		
	</div>
    
	</div>
    
</header>

<div class="clearfix"></div>

<!-- Contant
======================================= -->

<div class="page_title">
<div class="container">
	
    <h1>About One</h1>
    Web page editors now use Lorem Ipsum as their default model text.
    
</div>
</div><!-- end page title --> 

<div class="clearfix"></div>

<div class="content_fullwidth">
<div class="container">
	
    <div class="one_half"><img src="http://placehold.it/570x240" alt="" class="img_size1" /></div><!-- end section -->
    
    <div class="one_half last">
		
        <h2 class="nocaps">We Build Smarter and Highly Usable Stuff on ThemeForest!</h2>
        
        <p>There will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy versions have evolved over the years on purpose.</p>

	</div><!-- end section -->
    
        
	<div class="clearfix divider_dashed2"></div><!-- end divider line -->
    
    
    <div class="one_half">
    
    	<h2 class="ipages_title1"><strong>Who</strong> We Are</h2>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula.</p>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>
    	
    </div><!-- end section -->
    
    <div class="one_half last">
    	
        <div class="pro_bar inner">
    	
            <h5 class="nocaps">Website Design</h5>
            <div id="progress_bar" class="ui-progress-bar ui-container">
            <div class="ui-progress"><span class="ui-label"><b class="value">90%</b></span></div>
            </div><!-- end section -->
            
            <br />
            
            <h5 class="nocaps">Graphic Design</h5>
            <div id="progress_bar2" class="ui-progress-bar ui-container">
            <div class="ui-progress two"><span class="ui-label"><b class="value">72%</b></span></div>
            </div><!-- end section -->
            
            <br />
            
            <h5 class="nocaps">Javascript</h5>
            <div id="progress_bar3" class="ui-progress-bar ui-container">
            <div class="ui-progress three"><span class="ui-label"><b class="value">80%</b></span></div>
            </div><!-- end section -->
            
            <br />
            
            <h5 class="nocaps">Development</h5>
            <div id="progress_bar4" class="ui-progress-bar ui-container">
            <div class="ui-progress four"><span class="ui-label"><b class="value">94%</b></span></div>
            </div><!-- end section -->
        
		</div>
        
    </div><!-- end section -->
    
    
    <div class="clearfix divider_dashed2"></div><!-- end divider line -->
    
    
    <div class="features_sec42 two">
    <div class="container">
    
        <h2 class="ipages_title1"><strong>meet</strong> Our Team</h2>
        <br />
        
        <div class="one_fourth">
        <div class="box">
            
            <img src="http://placehold.it/270x245" alt="" />
            
            <h4>John Frances</h4>
            <h6 class="nocaps">CEO</h6>
            
            <p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue. Aliquam ornare hendrerit augue cars.</p>
            <br />
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
            
        </div>
        </div><!-- end section -->
        
        <div class="one_fourth">
        <div class="box">
            
            <img src="http://placehold.it/270x245" alt="" />
            
            <h4>Lucia Penelope</h4>
            <h6 class="nocaps">Manager</h6>
            
            <p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue. Aliquam ornare hendrerit augue cars.</p>
            <br />
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
            
        </div>
        </div><!-- end section -->
        
        <div class="one_fourth">
        <div class="box">
            
            <img src="http://placehold.it/270x245" alt="" />
            
            <h4>Mark Adraison</h4>
            <h6 class="nocaps">Marketing</h6>
            
            <p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue. Aliquam ornare hendrerit augue cars.</p>
            <br />
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
            
        </div>
        </div><!-- end section -->
        
        <div class="one_fourth last">
        <div class="box">
            
            <img src="http://placehold.it/270x245" alt="" />
            
            <h4>Anya Siennadia</h4>
            <h6 class="nocaps">Support</h6>
            
            <p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue. Aliquam ornare hendrerit augue cars.</p>
            <br />
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
            
        </div>
        </div><!-- end section -->
        
    </div>
    </div><!-- end team section -->
    
    
    <div class="clearfix divider_dashed2"></div><!-- end divider line -->
    
    
    <div class="one_third">
    	
        <h3 class="ipages_title1"><strong>what</strong> we do?</h3>
        
        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. search for 'lorem ipsum' will uncover many web sites.</p>
        <br />
        <p>Lorem Ipsum which looks reasonable randomised words which don't look even slightly believable The generated Lorem Ipsum is therefore always free from repetition, injected humour, or charac words.</p>
        
	</div><!-- end section -->
    
    <div class="one_third">
    	
		<ul class="tabs3 two">
        <li><a href="#example-3-tab-1" target="_self">Design</a></li>
        <li><a href="#example-3-tab-2" target="_self">Develop</a></li>
        <li><a href="#example-3-tab-3" target="_self">Graphic</a></li>
        </ul>
         
        <div class="tabs-content3">
        
        <div id="example-3-tab-1" class="tabs-panel3">
             <p>Design dolor sit amet adipi scing sellusa fringilla nulla, sit amet consequat eros. Pelle ntesque pharetra blandit commodo. Phasellus massa nisl, feugiat ac bibendum et, dictum id ipsum. Quisque sit amet accumsan tortor It has survived not only five centuries, but also the leap into electronic typese remaining essentially many web sites.</p>
        </div><!-- end tab 1 -->
        
        <div id="example-3-tab-2" class="tabs-panel3">
			<p>Develop dolor sit amet adipi scing sellusa fringilla nulla, sit amet consequat eros. Pelle ntesque pharetra blandit commodo. Phasellus massa nisl, feugiat ac bibendum et, dictum id ipsum. Quisque sit amet accumsan tortor It has survived not only five centuries, but also the leap into electronic typese remaining essentially many web sites.</p>
            </div><!-- end tab 2 -->
        
        <div id="example-3-tab-3" class="tabs-panel3">
			<p>Graphic dolor sit amet adipi scing sellusa fringilla nulla, sit amet consequat eros. Pelle ntesque pharetra blandit commodo. Phasellus massa nisl, feugiat ac bibendum et, dictum id ipsum. Quisque sit amet accumsan tortor It has survived not only five centuries, but also the leap into electronic typese remaining essentially many web sites.</p>
        </div><!-- end tab 3 -->
        
    	</div><!-- end all tabs -->
        
	</div>
    
    <div class="one_third last">
    	
		<h3 class="ipages_title1"><strong>winning</strong> awards</h3>
        
        <ul class="list_4">
        	<li><i class="fa fa-arrow-circle-o-right"></i> Lorem ipsum dolor consec tetuer adipis</li>
            <li><i class="fa fa-arrow-circle-o-right"></i> Suspendisse imperdiet cursus aecenas</li>
            <li><i class="fa fa-arrow-circle-o-right"></i> Fermentum sit amet vestibulum pretium</li>
            <li><i class="fa fa-arrow-circle-o-right"></i> Magna sem iaculis risus quis volutpats</li>
            <li><i class="fa fa-arrow-circle-o-right"></i> Vivamus risus Aliquam lacinia quis nibh</li>
            <li><i class="fa fa-arrow-circle-o-right"></i> Suspendisse imperdiet cursus maecenas</li>
        </ul>
        
        
    </div>
    
    
    <div class="clearfix divider_dashed3"></div><!-- end divider line -->
    
    
    <div class="one_half">
    	
        <h3 class="ipages_title1 two"><strong>our</strong> clints</h3>
        
        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. search for 'lorem ipsum' will uncover many web sites.</p>
        <br />
        <p>Lorem Ipsum which looks reasonable randomised words which don't look even slightly believable The generated Lorem Ipsum is therefore always free from repetition, injected humour, or charac words.</p>
        
	</div><!-- end section -->
    
    <div class="one_half last">
    	
        <section class="slider nosidearrows">
        <div class="flexslider carousel">
            <ul class="slides">
            
                <li class="mb">
                <img src="/assets/client-logo1.png" alt="" class="img_left10" />
                <img src="/assets/client-logo2.png" alt="" class="img_left10" />
                <img src="/assets/client-logo3.png" alt="" class="img_left10" />
                <img src="/assets/client-logo4.png" alt="" class="img_left10" />
                <img src="/assets/client-logo5.png" alt="" class="img_left10" />
                <img src="/assets/client-logo6.png" alt="" class="img_left10" />
                </li>
                
                <li class="mb">
                <img src="/assets/client-logo1.png" alt="" class="img_left10" />
                <img src="/assets/client-logo2.png" alt="" class="img_left10" />
                <img src="/assets/client-logo3.png" alt="" class="img_left10" />
                <img src="/assets/client-logo4.png" alt="" class="img_left10" />
                <img src="/assets/client-logo5.png" alt="" class="img_left10" />
                <img src="/assets/client-logo6.png" alt="" class="img_left10" />
                </li>
                   
        	</ul>
        </div>
    </section>

	</div><!-- end clients -->
        
</div>
</div>

<div class="clearfix margin_top5"></div>

<div class="footer1">
<div class="container">
	
    <div class="one_fourth">
		
    <ul class="faddress">
    	<li><img src="/assets/footer-logo.png" alt="" /></li>
        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seattle, WA 98122-1090</li>
        <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i> info@yourdomain.com</a></li>
	</ul>
      
	</div><!-- end address -->
    
    <div class="one_fourth">
	<div class="ftags">
    	
        <h3 class="nocaps">Tags</h3>
        
        <ul>
        	<li><a href="#">Awesome</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">UI Design</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">All</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Creative</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Wireframe</a></li>
        </ul>
        
    </div>
    </div><!-- end tags -->
    
    <div class="one_fourth">
    <div class="twitter_feed">
    
        <h3 class="nocaps">Latest Tweets</h3>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Liwo - Responsive Template on ThemeForest.<br />
        <a href="#" class="small">.9 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
        
        <div class="clearfix margin_top3"></div>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Joosa - Responsive HTML5 / CSS3, Corporate Theme.<br />
        <a href="#" class="small">.10 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
    
    </div>
    </div><!-- end tweets -->
    
    <div class="one_fourth last">
        
        <h3 class="nocaps">Flickr Photos</h3>
        
        <div id="flickr_badge_wrapper">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=h&amp;source=user&amp;user=93382411%40N07"></script>     
        </div>
        
    </div><!-- end flickr -->
    
</div>
</div><!-- end footer -->

<div class="clearfix"></div>

<div class="copyright_info two">
<div class="container">
    
    <div class="one_half">
    
        Copyright © 2014 elos.com. All rights reserved.  <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
        
    </div>
    
    <div class="one_half last">
        
        <ul class="footer_social_links">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-html5"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
            
    </div>
    
</div>
</div><!-- end copyright info -->


<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->





</div>

    
<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->

<!-- jquery jcarousel -->
<script type="text/javascript">
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
</script>

<!-- accordion -->

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-374977-27']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>




<script type="text/javascript">
	// Menu drop down effect
	$('.dropdown-toggle').dropdownHover().dropdown();
	$(document).on('click', '.fhmm .dropdown-menu', function(e) {
	  e.stopPropagation()
	})
</script>

</body>
</html>
