<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<title>elos - Multipurpose HTML5 Template</title>
	
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    
    <!-- Favicon --> 
	<link rel="shortcut icon" href="/assets/favicon.ico">
    
    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
   	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    

    
<!-- just remove the below comments witch color skin you want to use -->
    <!--<link rel="stylesheet" href="css/colors/blue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/green.css" />-->
    <!--<link rel="stylesheet" href="css/colors/cyan.css" />-->
    <!--<link rel="stylesheet" href="css/colors/orange.css" />-->
    <!--<link rel="stylesheet" href="css/colors/lightblue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/pink.css" />-->
    <!--<link rel="stylesheet" href="css/colors/purple.css" />-->
    <!--<link rel="stylesheet" href="css/colors/bridge.css" />-->
    <!--<link rel="stylesheet" href="css/colors/slate.css" />-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css" />-->
    <!--<link rel="stylesheet" href="css/colors/darkred.css" />-->

<!-- just remove the below comments witch bg patterns you want to use --> 
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-default.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-one.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-two.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-three.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-four.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-five.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-six.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-seven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eight.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-nine.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-ten.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eleven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-twelve.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-thirteen.css" />-->

    

       
 
</head>

<body>


<div id="trueHeader">
    
    <div class="wrapper">
    
     <div class="container">
    
        <!-- Logo -->
        <div class="logo"><a href="index.html" id="logo"></a></div>
        
        <!-- Menu -->
        <div class="menu_main">
        
          <nav class="navbar navbar-default fhmm" role="navigation">
             <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">Menu <i class="fa fa-bars tbars"></i></button>
             </div><!-- end navbar-header -->
        
            <div id="defaultmenu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="home">Home</a>
                       
                    </li>
                    
                    
                    <li><a href="about_us">About us</a></li>
                
                    
                    
                    <li><a href="services" >Services</a></li>
              
                    
                    
                    <li ><a href="ourworks">OurWorks</a></li>
              
                    
                    
                    <li ><a href="blog">Blog</a></li>
               
                    
                    
                    <li ><a href="contact">Contact</a></li>
                 
                
        </div><!-- end #navbar-collapse-1 -->
            
        </nav>
            
        </div>
        
        </div>
        
    </div>
    
    </div>
    
</header>

<div class="clearfix"></div>

<!-- Contant
======================================= -->

<div class="page_title2">
<div class="container">

    <div class="title"><h1>Small Image</h1></div>
    
    <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="#">Blog</a> <i>/</i> Small Image</div>
    
</div>
</div><!-- end page title --> 


<div class="clearfix"></div>

<div class="container">

	<div class="content_left">
        	
       		<div class="blog_post">	
				<div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                <a href="blog-archive.html" class="date"><strong>18</strong><i>March</i></a>
				<h3><a href="blog-post.html">Lorem simply dummy text of the industry</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Harris jo</a></li>
                        <li class="post_categoty"><a href="#">Web tutorials</a></li>
                        <li class="post_comments"><a href="#">18 Comments</a></li>
                    </ul>
                    
                 <div class="clearfix"></div>
				
                <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>
                
                </div>
				</div>
			</div><!-- /# end post -->
            
            <div class="clearfix divider_dashed9"></div>
            
            <div class="blog_post">	
				<div class="blog_postcontent">
                <div class="video_frame small"><iframe src="http://www.youtube.com/embed/4mu0Gh8GVfU"></iframe></div>
                <div class="post_info_content_small">
                <a href="blog-archive.html" class="date"><strong>17</strong><i>March</i></a>
				<h3><a href="blog-post.html">There are many variations passages</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Adam</a></li>
                        <li class="post_categoty"><a href="#">Photography</a></li>
                        <li class="post_comments"><a href="#">12 Comments</a></li>
                    </ul>
                 
                 <div class="clearfix"></div>
                 	
                <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>
                
                </div>
				</div>
			</div><!-- /# end post -->
            
            <div class="clearfix divider_dashed9"></div>
            
            <div class="blog_post">	
				<div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                <a href="blog-archive.html" class="date"><strong>16</strong><i>March</i></a>
				<h3><a href="blog-post.html">Lorem Ipsum passage and going through</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Adams</a></li>
                        <li class="post_categoty"><a href="#">WP Themes</a></li>
                        <li class="post_comments"><a href="#">10 Comments</a></li>
                    </ul>
                 
				<div class="clearfix"></div>
                
                <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>
                
                </div>
				</div>
			</div><!-- /# end post -->
            
            <div class="clearfix divider_dashed9"></div>
            
            <div class="blog_post">	
				<div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                <a href="blog-archive.html" class="date"><strong>15</strong><i>March</i></a>

				<h3><a href="blog-post.html">Injected humour words</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Harrison</a></li>
                        <li class="post_categoty"><a href="#">Web tutorials</a></li>
                        <li class="post_comments"><a href="#">18 Comments</a></li>
                    </ul>
                 
                 <div class="clearfix"></div>
				
                <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>
                
                </div>
				</div>
			</div><!-- /# end post -->
            
            <div class="clearfix divider_dashed9"></div>
            
            <div class="blog_post">	
				<div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                <a href="blog-archive.html" class="date"><strong>14</strong><i>March</i></a>
				<h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Harrison</a></li>
                        <li class="post_categoty"><a href="#">Web tutorials</a></li>
                        <li class="post_comments"><a href="#">18 Comments</a></li>
                    </ul>
                 
				<div class="clearfix"></div>
                
                <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>
                
                </div>
				</div>
			</div><!-- /# end post -->
            
            <div class="clearfix divider_dashed9"></div>
            
            <div class="blog_post">	
				<div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                <a href="blog-archive.html" class="date"><strong>13</strong><i>March</i></a>
				<h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Harrison</a></li>
                        <li class="post_categoty"><a href="#">Web tutorials</a></li>
                        <li class="post_comments"><a href="#">18 Comments</a></li>
                    </ul>
                 
				<div class="clearfix"></div>
                
                <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>
                
                </div>
				</div>
			</div><!-- /# end post -->
            
            <div class="clearfix divider_dashed9"></div>
            
            <div class="blog_post">	
				<div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                <a href="blog-archive.html" class="date"><strong>12</strong><i>March</i></a>
				<h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Harrison</a></li>
                        <li class="post_categoty"><a href="#">Web tutorials</a></li>
                        <li class="post_comments"><a href="#">18 Comments</a></li>
                    </ul>
                 
				<div class="clearfix"></div>
                
                <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>
                
                </div>
				</div>
			</div><!-- /# end post -->
            
            <div class="clearfix divider_dashed9"></div>
            
            <div class="blog_post">	
				<div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                <a href="blog-archive.html" class="date"><strong>11</strong><i>March</i></a>
				<h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Harrison</a></li>
                        <li class="post_categoty"><a href="#">Web tutorials</a></li>
                        <li class="post_comments"><a href="#">18 Comments</a></li>
                    </ul>
                 
				<div class="clearfix"></div>
                
                <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>
                
                </div>
				</div>
			</div><!-- /# end post -->
            
            <div class="clearfix divider_dashed9"></div>
            
            <div class="blog_post">	
				<div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                <a href="blog-archive.html" class="date"><strong>10</strong><i>March</i></a>
				<h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Harrison</a></li>
                        <li class="post_categoty"><a href="#">Web tutorials</a></li>
                        <li class="post_comments"><a href="#">18 Comments</a></li>
                    </ul>
                 
				<div class="clearfix"></div>
                
                <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>
                
                </div>
				</div>
			</div><!-- /# end post -->
            
            <div class="clearfix divider_dashed9"></div>
            
            <div class="pagination">
            <b>Page 2 of 18</b>
            <a href="#" class="navlinks">&lt; Previous</a>
				<a href="#" class="navlinks">1</a>
                <a href="#" class="navlinks current">2</a>
				<a href="#" class="navlinks">3</a>
                <a href="#" class="navlinks">4</a>
                <a href="#" class="navlinks">Next ></a>
			</div><!-- end pagination -->
        
        </div><!-- end content left side -->

<!-- right sidebar starts -->
<div class="right_sidebar">

	<div class="site-search-area">
    
        <form method="get" id="site-searchform" action="blog.html">
        <div>
        <input class="input-text" name="s" id="s" value="Enter Search keywords..." onFocus="if (this.value == 'Enter Search keywords...') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Enter Search keywords...';}" type="text" />
        <input id="searchsubmit" value="Search" type="submit" />
        </div>
        </form>
        
	</div><!-- end site search -->
    
    <div class="clearfix margin_top4"></div>

	<div class="sidebar_widget">
    
    	<div class="sidebar_title"><h3>Site <i>Categories</i></h3></div>
		<ul class="arrows_list1">		
            <li><a href="#"><i class="fa fa-angle-right"></i> Website Design</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Make Money Online</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Photography</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Wordpress Themes</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Learn Web Tutorials</a></li>
		</ul>
        
	</div><!-- end section -->
    
    <div class="clearfix margin_top4"></div>
    
    <div class="sidebar_widget">
    
    	<div id="tabs">
        
			<ul class="tabs">  
				<li class="active"><a href="#tab1">Popular</a></li>
				<li><a href="#tab2">Recent</a></li>
				<li class="last"><a href="#tab3">Tags</a></li>
			</ul><!-- /# end tab links --> 
 
		<div class="tab_container">	
			<div id="tab1" class="tab_content"> 
            
				<ul class="recent_posts_list">
					<li>
					  	<span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
						<a href="#">Publishing packag esanse web page editos</a>
						 <i>March 13, 2014</i> 
					</li>	
					<li>
					  	<span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
						<a href="#">Sublishing packag esanse web page editos</a>
						 <i>March 12, 2014</i> 
					</li>	
					<li class="last">
					  	<span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
						<a href="#">Mublishing packag esanse web page editos</a>
						 <i>March 11, 2014</i> 
					</li>
				</ul>
                 
			</div><!-- end popular posts --> 
			
			<div id="tab2" class="tab_content">	 
				<ul class="recent_posts_list">
                
					<li>
					  	<span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
						<a href="#">Various versions has evolved over the years</a>
						 <i>March 18, 2014</i> 
					</li>
					<li>
					  	<span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
						<a href="#">Rarious versions has evolve over the years</a>
						 <i>March 17, 2014</i> 
					</li>
					<li class="last">
					  	<span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
						<a href="#">Marious versions has evolven over the years</a>
						 <i>March 16, 2014</i> 
					</li>
				</ul>
                 
			</div><!-- end popular articles -->	
			
			<div id="tab3" class="tab_content">	 
				<ul class="tags">
														
					<li><a href="#">2013</a></li>
					<li><a href="#"><b>Amazing</b></a></li>
					<li><a href="#">Animation</a></li>
					<li><a href="#">Beautiful</a></li>
					<li><a href="#"><b>Cartoon</b></a></li>
					<li><a href="#">Comedy</a></li>
					<li><a href="#"><b>Cool</b></a></li>
					<li><a href="#">Dance</a></li>
					<li><a href="#">Drive</a></li>
					<li><a href="#"><b>Family</b></a></li>
					<li><a href="#"><b>Fantasy</b></a></li>
					<li><a href="#">News</a></li>
					<li><a href="#"><b>Friends</b></a></li>
					<li><a href="#">Funny</a></li>
					<li><a href="#"><b>Games</b></a></li>
					<li><a href="#">Love</a></li>
					<li><a href="#"><b>Music</b></a></li>
					<li><a href="#">Nature</a></li>
					<li><a href="#"><b>Party</b></a></li>
					<li><a href="#">Pictures</a></li>
					<li><a href="#">Sports</a></li>
					<li><a href="#"><b>Best</b></a></li>
					<li><a href="#">Wedding</a></li>
					<li><a href="#">Weight</a></li>
					<li><a href="#"><b>Youtube</b></a></li>
				</ul>	 
			</div>
 			
		</div>
		
		</div>
                
	</div><!-- end section -->
    
    <div class="clearfix margin_top5"></div>
    
    <div class="clientsays_widget">
    
    	<div class="sidebar_title"><h3>Happy <i>Client Say's</i></h3></div>
        
        <img src="http://placehold.it/50x50" alt="" />
<strong>- Henry Brodie</strong><p>Lorem Ipsum passage, and going through the cites of the word here classical literature passage disvered undou btable source. which looks reasonable the generated charac eristic words.</p>  
                
	</div><!-- end section -->
    
    <div class="clearfix margin_top5"></div>
    
    <div class="sidebar_widget">
    
    	<div class="sidebar_title"><h3>Portfolio <i>Widget</i></h3></div>
        
        <div class="features_sec15 two">
                
            <div>
              <section class="slider nosidearrows">
                <div class="flexslider carousel">
                
                  <ul class="slides">
            
                        <li>
                        
                            <div class="grid-container cbp-l-grid-fullScreen sidebar">
                            <ul>
                              <li class="cbp-item identity logo"> <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="Consectetuer Adipiscing<br>by GSRthemes9">
                                <div class="cbp-caption-defaultWrap"> <img src="http://placehold.it/800x600" alt="" /> </div>
                                <div class="cbp-caption-activeWrap">
                                  <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                      <div class="margin_top7"></div>
                                      <div class="cbp-l-caption-title">Consectetuer Adipiscing</div>
                                      <div class="cbp-l-caption-desc">Rutrum adipiscing luctus</div>
                                      </div>
                                  </div>
                                </div>
                                </a>
                                </li>
							</ul>
                            </div>
                            
                        </li><!-- end section -->
                        
                        <li>
                        
                            <div class="grid-container cbp-l-grid-fullScreen sidebar">
                            <ul>
                              <li class="cbp-item"> <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="Many Websites Infancy<br>by GSRthemes9">
                                <div class="cbp-caption-defaultWrap"> <img src="http://placehold.it/800x600" alt="" /> </div>
                                <div class="cbp-caption-activeWrap">
                                  <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                    <div class="margin_top7"></div>
                                      <div class="cbp-l-caption-title">Many Websites Infancy</div>
                                      <div class="cbp-l-caption-desc">Rutrum adipiscing luctus</div>
                                    </div>
                                  </div>
                                </div>
                                </a>
                                </li>
							</ul>
                            </div>
                            
                        </li><!-- end section -->
                        
                        
						<li>
                        
                            <div class="grid-container cbp-l-grid-fullScreen sidebar">
                            <ul>
                              <li class="cbp-item motion graphic"> <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="Words Believable<br>by GSRthemes9">
                                <div class="cbp-caption-defaultWrap"> <img src="http://placehold.it/800x600" alt="" /> </div>
                                <div class="cbp-caption-activeWrap">
                                  <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                    <div class="margin_top7"></div>
                                      <div class="cbp-l-caption-title">Words Believable</div>
                                      <div class="cbp-l-caption-desc">Rutrum adipiscing luctus</div>
                                    </div>
                                  </div>
                                </div>
                                </a>
                                </li>
							</ul>
                            </div>
                            
                        </li><!-- end section -->
                              
                  </ul>
                </div>
              </section>
              
            </div>
             
        </div>
                  
	</div><!-- end section -->
    
	<div class="clearfix mar_top5"></div>
    
   	<div class="sidebar_widget">
    
    	<div class="sidebar_title"><h3>Site <i>Advertisements</i></h3></div>
        
			<ul class="adsbanner-list">  
            	<li><a href="#"><img src="/assets/sample-ad-banner.jpg" alt="" /></a></li>
                <li class="last"><a href="#"><img src="/assets/sample-ad-banner.jpg" alt="" /></a></li>
            </ul>
                 
           	<ul class="adsbanner-list">  
            	<li><a href="#"><img src="/assets/sample-ad-banner.jpg" alt="" /></a></li>
            	<li class="last"><a href="#"><img src="/assets/sample-ad-banner.jpg" alt="" /></a></li>
           	</ul>
            
	</div><!-- end section -->
    
	<div class="clearfix margin_top4"></div>
    
	<div class="sidebar_widget">
    
    	<div class="sidebar_title"><h3>Site <i>Archives</i></h3></div>
        
		<ul class="arrows_list1">		
            <li><a href="#"><i class="fa fa-angle-right"></i> March 2014</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> February 2014</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> January 2014</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> December 2013</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> November 2013</a></li>
		</ul>
        
	</div><!-- end section -->

</div><!-- end right sidebar -->

</div>


<div class="clearfix margin_top4"></div>

<div class="footer1">
<div class="container">
	
    <div class="one_fourth">
		
    <ul class="faddress">
    	<li><img src="/assets/footer-logo.png" alt="" /></li>
        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seattle, WA 98122-1090</li>
        <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i> info@yourdomain.com</a></li>
	</ul>
      
	</div><!-- end address -->
    
    <div class="one_fourth">
	<div class="ftags">
    	
        <h3 class="nocaps">Tags</h3>
        
        <ul>
        	<li><a href="#">Awesome</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">UI Design</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">All</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Creative</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Wireframe</a></li>
        </ul>
        
    </div>
    </div><!-- end tags -->
    
    <div class="one_fourth">
    <div class="twitter_feed">
    
        <h3 class="nocaps">Latest Tweets</h3>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Liwo - Responsive Template on ThemeForest.<br />
        <a href="#" class="small">.9 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
        
        <div class="clearfix margin_top3"></div>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Joosa - Responsive HTML5 / CSS3, Corporate Theme.<br />
        <a href="#" class="small">.10 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
    
    </div>
    </div><!-- end tweets -->
    
    <div class="one_fourth last">
        
        <h3 class="nocaps">Flickr Photos</h3>
        
        <div id="flickr_badge_wrapper">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=h&amp;source=user&amp;user=93382411%40N07"></script>     
        </div>
        
    </div><!-- end flickr -->
    
</div>
</div><!-- end footer -->

<div class="clearfix"></div>

<div class="copyright_info two">
<div class="container">
    
    <div class="one_half">
    
        Copyright © 2014 elos.com. All rights reserved.  <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
        
    </div>
    
    <div class="one_half last">
        
        <ul class="footer_social_links">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-html5"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
            
    </div>
    
</div>
</div><!-- end copyright info -->


<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->





</div>

    


<!-- jquery jcarousel -->
<script type="text/javascript">
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
</script>



<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-374977-27']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>



<script type="text/javascript">
	// Menu drop down effect
	$('.dropdown-toggle').dropdownHover().dropdown();
	$(document).on('click', '.fhmm .dropdown-menu', function(e) {
	  e.stopPropagation()
	})
</script>

</body>
</html>
