<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<title>elos - Multipurpose HTML5 Template</title>
	
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    
    <!-- Favicon --> 
	<link rel="shortcut icon" href="assets/favicon.ico">
    
    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
   	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    <!-- ######### CSS STYLES ######### -->
	
    
<!-- just remove the below comments witch color skin you want to use -->
    <!--<link rel="stylesheet" href="css/colors/blue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/green.css" />-->
    <!--<link rel="stylesheet" href="css/colors/cyan.css" />-->
    <!--<link rel="stylesheet" href="css/colors/orange.css" />-->
    <!--<link rel="stylesheet" href="css/colors/lightblue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/pink.css" />-->
    <!--<link rel="stylesheet" href="css/colors/purple.css" />-->
    <!--<link rel="stylesheet" href="css/colors/bridge.css" />-->
    <!--<link rel="stylesheet" href="css/colors/slate.css" />-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css" />-->
    <!--<link rel="stylesheet" href="css/colors/darkred.css" />-->

<!-- just remove the below comments witch bg patterns you want to use --> 
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-default.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-one.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-two.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-three.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-four.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-five.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-six.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-seven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eight.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-nine.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-ten.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eleven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-twelve.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-thirteen.css" />-->

    
    <!-- mega menu -->
 
</head>

<body>


<div class="site_wrapper">

<header id="header">

	<!-- Top header bar -->
	<div id="topHeader">
    
	<div class="wrapper">
         
        <div class="top_nav">
        <div class="container">
        
        <div class="left">
            
            <ul>
                <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i> info@yourdomain.com</a></li>
                <li><i class="fa fa-phone-square"></i> +88 123 456 7890</li>
            </ul>
            
        </div><!-- end left links -->
        
        <div class="right">
            
            <ul>
                <li class="link"><a class="fancybox fancybox.ajax" href="login-frame.html">Login</a></li>
                <li class="link"><a class="fancybox fancybox.ajax" href="register-frame.html">Register</a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
            
        </div><!-- end right social links -->
        
        </div>
        </div>
            
 	</div>
    
	</div><!-- end top navigation -->
	
    
	<div id="trueHeader">
    
	<div class="wrapper">
    
     <div class="container">
    
		<!-- Logo -->
		<div class="logo"><a href="index.html" id="logo"></a></div>
		
        <!-- Menu -->
        <div class="menu_main">
        
          <nav class="navbar navbar-default fhmm" role="navigation">
             <div class="navbar-header">
          		<button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">Menu <i class="fa fa-bars tbars"></i></button>
			 </div><!-- end navbar-header -->
        
            <div id="defaultmenu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="home">Home</a>
                       
          			</li>
                    
                    
                    <li><a href="about_us">About us</a></li>
                
                    
                	
                    <li><a href="services" >Services</a></li>
              
                    
                    
                    <li ><a href="ourworks">OurWorks</a></li>
              
                    
                    
                    <li ><a href="blog">Blog</a></li>
               
                    
                    
                    <li ><a href="contact">Contact</a></li>
                 
                
		</div><!-- end #navbar-collapse-1 -->
            
		</nav>
            
		</div>
        
        </div>
		
	</div>
    
	</div>
    
</header>

<div class="clearfix"></div>

<!-- Slider
======================================= -->  

<div class="container_full">
    
    <div class="tp-banner-container">
		<div class="tp-banner" >
        
			<ul>
            	<!-- SLIDE 1 -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                
					<!-- MAIN IMAGE -->
					<img src="http://placehold.it/1920x610" alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                       
  					
					
                     <div class="tp-caption lfr"
						data-x="left"
						data-y="77"
						data-speed="800"
						data-start="1400"
						data-easing="Back.easeOut"
						data-endspeed="300"
						data-captionhidden="on"
						style="z-index: 4"><img src="http://placehold.it/753x532" alt="">
					</div>
                    
                    <div class="tp-caption bigtext_bold3 sfb"
						data-x="744"
						data-y="138"
						data-speed="800"
						data-start="1000"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6">HOME PAGES &amp;
					</div>
                    
                    
                    
                    <div class="tp-caption bigtext_bold04 sfb"
						data-x="744"
						data-hoffset="-50"
						data-y="183"
						data-speed="800"
						data-start="1300"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6"> DIFFRENT
					</div>
					
                    
                    <div class="tp-caption bigtext_extrathin2 sfb"
						data-x="744"
						data-y="224"
						data-speed="800"
						data-start="1600"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6">NEW SECTIONS
					</div>
                    
                    
                    <div class="tp-caption small_text05 sfb"
						data-x="744"
						data-y="295"
						data-speed="800"
						data-start="1900"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br/> Suspendisse et justo Praesent mattis commodo augue Aliquam. 
					</div>
                      
                    <div class="tp-caption slider_but9 sfb"
						data-x="744"
						data-y="435"
						data-speed="800"
						data-start="2300"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6"><a href="#">Read more</a>
					</div>
                    
                    
                     <div class="tp-caption slider_but10 sfb"
						data-x="890"
						data-y="435"
						data-speed="800"
						data-start="2700"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6"><a href="#">Buy now!</a>
					</div>      
				</li>
                
                
                <!-- SLIDE 2 -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
                
					<!-- MAIN IMAGE -->
					<img src="http://placehold.it/1920x610" alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                       
    				<div class="tp-caption large_bold_white_3 skewfromrightshort customout"
						data-x="260" data-hoffset="-90"
						data-y="337" data-voffset="-200"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1000"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 14">Responsive &nbsp; beautiful
					</div>
                    
                    
                    
                    <div class="tp-caption small_bold_white skewfromleftshort customout"
						data-x="355" data-hoffset="-90"
						data-y="403" data-voffset="-200"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1400"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 14">get many more features
					</div>
                    

                    
                    
                    <div class="tp-caption slider_but5 skewfromrightshort customout"
						data-x="660" data-hoffset="-90"
						data-y="470" data-voffset="-200"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1800"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 14"><a href="#">get started</a>
					</div>
                            
				</li>
                
                

			</ul>

		</div>
	</div>


</div><!-- end slider -->


<div class="clearfix"></div>
<div class="margin_top7"></div>

<div class="container">

	<div class="alileft"><h3 class="nocaps">Easy and fastest way to build your website. HTML5 Responsive Theme. Professional Website Design and Development Services. Fully Satisfied Customers around the world.</h3></div>
    
</div>

<div class="clearfix"></div>

<div class="features_sec20 lessmt">
<div class="container">
	
	<div id="filters-container" class="cbp-l-filters-alignLeft">
        <button data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</button>
        <button data-filter=".identity" class="cbp-filter-item">Identity</button>
        <button data-filter=".web-design" class="cbp-filter-item">Web Design</button>
        <button data-filter=".graphic" class="cbp-filter-item">Graphic</button>
    </div>
    
    	<div id="grid-container" class="cbp-l-grid-projects">
                <ul>
                    <li class="cbp-item graphic">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">took a galley</div></div>
                    </li>
                    <li class="cbp-item web-design logo">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Evolved Over<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">evolved over</div></div>
                    </li>
                    <li class="cbp-item graphic logo">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Packages Info<br>by GSRthemes9">view video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">packages info</div></div>
                    </li>
                    <li class="cbp-item web-design graphic">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Like<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">software like</div></div>
                    </li>
                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="From Sections<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">from sections</div></div>
                    </li>
                    
                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="The Industry<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">the industry</div></div>
                    </li>
                    
					<li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Aliquam Rhoncus<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">aliquam rhoncus</div></div>
                    </li>
                    
					<li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Lectus Commodo<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">lectus commodo </div></div>
                    </li>
                    
                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Suspendisse Imperdiet <br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">Suspendisse imperdiet</div></div>
                    </li>
                    
                    
                    
                    
                    
                </ul>
            </div>
          <div class="cbp-l-loadMore-text">
            <div data-href="#" class="cbp-l-loadMore-text-link"></div>
          </div>
      
</div>
</div><!-- end features section20 -->

<div class="clearfix"></div>

<div class="features_sec3">
<div class="container">

	<h2 class="section_title_white"><strong>more</strong> about us</h2>
	
	<div class="one_third">
    <div class="boxsec">
    
    <img src="assets/icon-1.png" alt="" />
    
    <h3>Our process</h3>
    
    <p>Earth for lorem ipsum uncover on many web sites still in have their versions infancy of the years.</p>
    
    </div>
    <a href="#" class="readmore_but2">Read more</a>
    </div><!-- end section -->
    
    <div class="one_third active">
    <div class="boxsec">
    
    <img src="assets/icon-2.png" alt="" />
    
    <h3>research</h3>
    
    <p>Earth for lorem ipsum uncover on many web sites still in have their versions infancy of the years.</p>
    
    </div>
    <a href="#" class="readmore_but2">Read more</a>
    </div><!-- end section -->
    
    <div class="one_third last">
    <div class="boxsec">
    
    <img src="assets/icon-3.png" alt="" />
    
    <h3>web design</h3>
    
    <p>Earth for lorem ipsum uncover on many web sites still in have their versions infancy of the years.</p>
    
    </div>
    <a href="#" class="readmore_but2">Read more</a>
    </div><!-- end section -->
    

    
</div>
</div><!-- end features section3 -->


<div class="clearfix"></div><!-- end divider line -->

<div class="features_sec16">
<div class="container">

	<div class="one_fourth">
    	
        <h3 class="section_title"><strong>More</strong> About us</h3>
        
        <br />
        
        <div class="accrodation">
       
    	<!-- section 1 -->
        <span class="acc-trigger active"><a href="#">Who we are?</a></span>
        <div class="acc-container">
        <div class="content">
        There are many variations of passages available but the majority have alteration
        </div>
        </div>
      
        <!-- section 2 -->
        <span class="acc-trigger"><a href="#">What we do?</a></span>
        <div class="acc-container">
        <div class="content">
        Some form, by injected humour, or randomised words which looks.
        </div>
        </div>
   
        <!-- section 3 -->
        <span class="acc-trigger"><a href="#">What we offer?</a></span>
        <div class="acc-container">
        <div class="content">
        <p>Handful of model sentence structures non charac teristic words etc.</p>
        </div>
        </div>
        
        <!-- section 4 -->
        <span class="acc-trigger"><a href="#">Our services</a></span>
        <div class="acc-container">
        <div class="content">
        <p>Handful of model sentence structures generated Lorem Ipsum is therefore always free from repetition, injected humour, or charact eristic words etc.</p>
        </div>
        </div>
        
    </div>

    </div><!-- end left section -->
    
    <div class="one_half">
    	
		<h3 class="section_title"><strong>Services</strong> we offer</h3>
        
        <br />
        
        <ul class="tabs2">
        <li><a href="#example-2-tab-1" target="_self">Development</a></li>
        <li><a href="#example-2-tab-2" target="_self">Marketing</a></li>
        <li><a href="#example-2-tab-3" target="_self">Financial</a></li>
        </ul>
         
        <div class="tabs-content2">
        
        <div id="example-2-tab-1" class="tabs-panel2">
        <img src="http://placehold.it/170x170" alt="" class="img_left2" />
         <p>Development dolor sit amet, consectetur adipiscing elit. Phasellus ac fringilla nulla, sit amet consequat eros. Pellentesque pharetra blandit commodo. Phasellus massa nisl, feugiat ac bibendum et, dictum id ipsum. Quisque sit amet accumsan tortor. </p>
        </div><!-- end tab 1 -->
        
        <div id="example-2-tab-2" class="tabs-panel2">
        <img src="http://placehold.it/170x170" alt="" class="img_left2" />
         <p>Marketing dolor sit amet, consectetur adipiscing elit. Phasellus ac fringilla nulla, sit amet consequat eros. Pellentesque pharetra blandit commodo. Phasellus massa nisl, feugiat ac bibendum et, dictum id ipsum. Quisque sit amet accumsan tortor. </p>
        </div><!-- end tab 2 -->
        
        <div id="example-2-tab-3" class="tabs-panel2">
        <img src="http://placehold.it/170x170" alt="" class="img_left2" />
         <p>Financial dolor sit amet, consectetur adipiscing elit. Phasellus ac fringilla nulla, sit amet consequat eros. Pellentesque pharetra blandit commodo. Phasellus massa nisl, feugiat ac bibendum et, dictum id ipsum. Quisque sit amet accumsan tortor. </p>
        </div><!-- end tab 3 -->
        
        </div><!-- end all tabs -->
        
    </div><!-- end center section -->
    
    <div class="one_fourth last">
  		
        <h3 class="section_title"><strong>fun</strong> Facts</h3>
        
        <br />
        
        <p>Many web sites still in their infancy various versions have evolved over the years generator on the Internet.</p>
        <br />
        <ul class="fun_facts">
        	<li><strong>180</strong> <i>Projects</i></li>
            <li><strong>130</strong> <i>Clints</i></li>
            <li><strong>90</strong> <i>Awards</i></li>
            <li><strong>170</strong> <i>Done</i></li>
            <li><strong>2250</strong> <i>Like</i></li>
            <li><strong>365</strong> <i>Days</i></li>
        </ul>
        
	</div>
    
</div>
</div><!-- end features section16 -->









<div class="clearfix"></div>

<div class="footer1 three">
<div class="container">
	
    <div class="one_fourth">
		
    <ul class="faddress">
    	<li><img src="assets/footer-logo2.png" alt="" /></li>
        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seattle, WA 98122-1090</li>
        <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i> info@yourdomain.com</a></li>
	</ul>
      
	</div><!-- end address -->
    
    <div class="one_fourth">
	<div class="ftags three">
    	
        <h3 class="nocaps">Tags</h3>
        
        <ul>
        	<li><a href="#">Awesome</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">UI Design</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">All</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Creative</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Wireframe</a></li>
        </ul>
        
    </div>
    </div><!-- end tags -->
    
    <div class="one_fourth">
    <div class="twitter_feed">
    
        <h3 class="nocaps">Latest Tweets</h3>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Liwo - Responsive Template on ThemeForest.<br />
        <a href="#" class="small">.9 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
        
        <div class="clearfix margin_top3"></div>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Joosa - Responsive HTML5 / CSS3, Corporate Theme.<br />
        <a href="#" class="small">.10 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
    
    </div>
    </div><!-- end tweets -->
    
    <div class="one_fourth last">
        
        <h3 class="nocaps">Flickr Photos</h3>
        
        <div id="flickr_badge_wrapper">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=h&amp;source=user&amp;user=93382411%40N07"></script>     
        </div>
        
    </div><!-- end flickr -->
    
</div>
</div><!-- end footer -->

<div class="clearfix"></div>

<div class="copyright_info three">
<div class="container">
    
    <div class="one_half">
    
        Copyright © 2014 elos.com. All rights reserved.  <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
        
    </div>
    
    <div class="one_half last">
        
        <ul class="footer_social_links three">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-html5"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
            
    </div>
    
</div>
</div><!-- end copyright info -->


<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->





</div>

    
<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->


<!-- jquery jcarousel -->
<script type="text/javascript">
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
</script>


  
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-374977-27']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<!-- cubeportfolio -->



<script type="text/javascript">
	// Menu drop down effect
	$('.dropdown-toggle').dropdownHover().dropdown();
	$(document).on('click', '.fhmm .dropdown-menu', function(e) {
	  e.stopPropagation()
	})
</script>

</body>
</html>
