<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<title>elos - Multipurpose HTML5 Template</title>
	
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    
    <!-- Favicon --> 
	<link rel="shortcut icon" href="/assets/favicon.ico">
    
    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
   	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    <!-- ######### CSS STYLES ######### -->

    
<!-- just remove the below comments witch color skin you want to use -->
    <!--<link rel="stylesheet" href="css/colors/blue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/green.css" />-->
    <!--<link rel="stylesheet" href="css/colors/cyan.css" />-->
    <!--<link rel="stylesheet" href="css/colors/orange.css" />-->
    <!--<link rel="stylesheet" href="css/colors/lightblue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/pink.css" />-->
    <!--<link rel="stylesheet" href="css/colors/purple.css" />-->
    <!--<link rel="stylesheet" href="css/colors/bridge.css" />-->
    <!--<link rel="stylesheet" href="css/colors/slate.css" />-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css" />-->
    <!--<link rel="stylesheet" href="css/colors/darkred.css" />-->

<!-- just remove the below comments witch bg patterns you want to use --> 
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-default.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-one.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-two.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-three.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-four.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-five.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-six.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-seven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eight.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-nine.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-ten.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eleven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-twelve.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-thirteen.css" />-->

    
    <!-- mega menu -->

       
 
</head>

<body>


<div id="trueHeader">
    
    <div class="wrapper">
    
     <div class="container">
    
        <!-- Logo -->
        <div class="logo"><a href="index.html" id="logo"></a></div>
        
        <!-- Menu -->
        <div class="menu_main">
        
          <nav class="navbar navbar-default fhmm" role="navigation">
             <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">Menu <i class="fa fa-bars tbars"></i></button>
             </div><!-- end navbar-header -->
        
            <div id="defaultmenu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                     <li ><a href="home">Home</a>
                       
                    </li>
                    
                    
                    <li><a href="about_us">About us</a></li>
                
                    
                    
                    <li><a href="services" >Services</a></li>
              
                    
                    
                    <li ><a href="ourworks">OurWorks</a></li>
              
                    
                    
                    <li ><a href="blog">Blog</a></li>
               
                    
                    
                    <li ><a href="contact">Contact</a></li>
                 
                
        </div><!-- end #navbar-collapse-1 -->
            
        </nav>
            
        </div>
        
        </div>
        
    </div>
    
    </div>
    
</header>

<div class="clearfix"></div>

<!-- Contant
======================================= -->

<div class="page_title2">
<div class="container">

    <div class="title"><h1>Portfolio Columns 3</h1></div>
    
    <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="#">Portfolio</a> <i>/</i> Portfolio Columns 3</div>
    
</div>
</div><!-- end page title --> 


<div class="clearfix"></div>

<div class="features_sec20">
<div class="container">
	
	<div id="filters-container" class="cbp-l-filters-alignCenter">
        <button data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</button>
        <button data-filter=".identity" class="cbp-filter-item">Identity</button>
        <button data-filter=".web-design" class="cbp-filter-item">Web Design</button>
        <button data-filter=".graphic" class="cbp-filter-item">Graphic</button>
    </div>
    
    	<div id="grid-container" class="cbp-l-grid-projects">
        
                <ul>
                    <li class="cbp-item graphic">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">took a galley</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>
                    
                    <li class="cbp-item web-design logo">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Evolved Over<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">evolved over</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>
                    
                    <li class="cbp-item graphic logo">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Packages Info<br>by GSRthemes9">view video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">packages info</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>
                    
                    <li class="cbp-item web-design graphic">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Like<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">software like</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>
                    
                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="From Sections<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">from sections</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>
                    
                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="The Industry<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">the industry</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>
                    
                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Magna Tempus Urna<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">Magna Tempus Urna</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>
                    
                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Venenatis Quis Suscipit<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">venenatis quis suscipit </div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>
                    
                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Etiam Porttitor Turpis<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">Etiam porttitor turpis</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

				</ul>
            </div>
          <div class="cbp-l-loadMore-text">
            <div data-href="#" class="cbp-l-loadMore-text-link"></div>
          </div>
      
</div>
</div><!-- end content area -->


<div class="clearfix margin_top1"></div>

<div class="footer1">
<div class="container">
	
    <div class="one_fourth">
		
    <ul class="faddress">
    	<li><img src="/assets/footer-logo.png" alt="" /></li>
        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seattle, WA 98122-1090</li>
        <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i> info@yourdomain.com</a></li>
	</ul>
      
	</div><!-- end address -->
    
    <div class="one_fourth">
	<div class="ftags">
    	
        <h3 class="nocaps">Tags</h3>
        
        <ul>
        	<li><a href="#">Awesome</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">UI Design</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">All</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Creative</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Wireframe</a></li>
        </ul>
        
    </div>
    </div><!-- end tags -->
    
    <div class="one_fourth">
    <div class="twitter_feed">
    
        <h3 class="nocaps">Latest Tweets</h3>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Liwo - Responsive Template on ThemeForest.<br />
        <a href="#" class="small">.9 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
        
        <div class="clearfix margin_top3"></div>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Joosa - Responsive HTML5 / CSS3, Corporate Theme.<br />
        <a href="#" class="small">.10 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
    
    </div>
    </div><!-- end tweets -->
    
    <div class="one_fourth last">
        
        <h3 class="nocaps">Flickr Photos</h3>
        
        <div id="flickr_badge_wrapper">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=h&amp;source=user&amp;user=93382411%40N07"></script>     
        </div>
        
    </div><!-- end flickr -->
    
</div>
</div><!-- end footer -->

<div class="clearfix"></div>

<div class="copyright_info two">
<div class="container">
    
    <div class="one_half">
    
        Copyright © 2014 elos.com. All rights reserved.  <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
        
    </div>
    
    <div class="one_half last">
        
        <ul class="footer_social_links">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-html5"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
            
    </div>
    
</div>
</div><!-- end copyright info -->


<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->





</div>

    

<!-- jquery jcarousel -->
<script type="text/javascript">
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
</script>


<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-374977-27']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>



<script type="text/javascript">
	// Menu drop down effect
	$('.dropdown-toggle').dropdownHover().dropdown();
	$(document).on('click', '.fhmm .dropdown-menu', function(e) {
	  e.stopPropagation()
	})
</script>

</body>
</html>
