<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<title>elos - Multipurpose HTML5 Template</title>
	
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    
    <!-- Favicon --> 
	<link rel="shortcut icon" href="assets/favicon.ico">
    
    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
   	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
   
    
<!-- just remove the below comments witch color skin you want to use -->
    <!--<link rel="stylesheet" href="css/colors/blue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/green.css" />-->
    <!--<link rel="stylesheet" href="css/colors/cyan.css" />-->
    <!--<link rel="stylesheet" href="css/colors/orange.css" />-->
    <!--<link rel="stylesheet" href="css/colors/lightblue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/pink.css" />-->
    <!--<link rel="stylesheet" href="css/colors/purple.css" />-->
    <!--<link rel="stylesheet" href="css/colors/bridge.css" />-->
    <!--<link rel="stylesheet" href="css/colors/slate.css" />-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css" />-->
    <!--<link rel="stylesheet" href="css/colors/darkred.css" />-->

<!-- just remove the below comments witch bg patterns you want to use --> 
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-default.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-one.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-two.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-three.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-four.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-five.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-six.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-seven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eight.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-nine.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-ten.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-eleven.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-twelve.css" />-->
    <!--<link rel="stylesheet" href="css/bg-patterns/pattern-thirteen.css" />-->

    
    <!-- mega menu -->


       
 
</head>

<body>


<div id="trueHeader">
    
    <div class="wrapper">
    
     <div class="container">
    
        <!-- Logo -->
        <div class="logo"><a href="index.html" id="logo"></a></div>
        
        <!-- Menu -->
        <div class="menu_main">
        
          <nav class="navbar navbar-default fhmm" role="navigation">
             <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">Menu <i class="fa fa-bars tbars"></i></button>
             </div><!-- end navbar-header -->
        
            <div id="defaultmenu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="home">Home</a>
                       
                    </li>
                    
                    
                    <li><a href="about_us">About us</a></li>
                
                    
                    
                    <li><a href="services" >Services</a></li>
              
                    
                    
                    <li ><a href="ourworks">OurWorks</a></li>
              
                    
                    
                    <li ><a href="blog">Blog</a></li>
               
                    
                    
                    <li ><a href="contact">Contact</a></li>
                
        </div><!-- end #navbar-collapse-1 -->
            
        </nav>
            
        </div>
        
        </div>
        
    </div>
    
    </div>
    
</header>
<div class="clearfix"></div>

<!-- Contant
======================================= -->

<div class="page_title">
<div class="container">

    <div class="title"><h1>Services Style 3</h1></div>
    
    Web page editors now use Lorem Ipsum as their default model text. 
    
</div>
</div><!-- end page title --> 


<div class="clearfix"></div>

<div class="container_full">

<div class="features_sec8">
<div class="container">

	<h2 class="section_title_drakgray lessmar"><strong>great</strong> flexibility</h2>
    
    <p class="less1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor.</p>
    
    <div class="content_box">
    
        <div class="left">
        	
            <h3><i class="fa fa-cloud"></i> Neat and Clean</h3>
            
            <p>Lorem ipsum dolor sit amet, consectetuer  elit. Suspendisse et justo. Praesent mattis commodo augue aliquam.</p>
            
        </div><!-- end section -->
        
        <div class="vline"></div>
        
        
        <div class="center active">
        	
            <h3><i class="fa fa-bell"></i> Easy to use</h3>
            
            <p>Lorem ipsum dolor sit amet, consectetuer  elit. Suspendisse et justo. Praesent mattis commodo augue aliquam.</p>
            
        </div><!-- end section -->
        
        <div class="vline"></div>
        
        <div class="right">
        
        	<h3><i class="fa fa-envelope"></i> Very flexible</h3>
            
            <p>Lorem ipsum dolor sit amet, consectetuer  elit. Suspendisse et justo. Praesent mattis commodo augue aliquam.</p>
            
        </div><!-- end section -->
    
    </div>
      
</div>
</div><!-- end features section8 -->

<div class="clearfix"></div>

<div class="features_sec5">
<div class="container">

	<h2 class="section_title_white fure"><strong>our agile</strong> process</h2>
    
    <div class="root">
   		
        <div class="one_fifth"><i class="fa fa-cloud"></i> <h5>Product Backlog</h5></div>
        
        <div class="one_fifth"><i class="fa fa-asterisk active"></i> <h5>Sprint Backlog</h5></div>
        
        <div class="one_fifth"><i class="fa fa-user"></i> <h5>User Stories</h5></div>
        
        <div class="one_fifth"><i class="fa fa-desktop"></i> <h5>Demo</h5></div>
        
        <div class="one_fifth last"><i class="fa fa-rocket"></i> <h5>Deliverables</h5></div>
        
    </div><!-- end root -->
	
    <div class="clearfix margin_top4"></div>
    
    <div class="left">
    	<div class="circle">
        	
       		<h3>Sprint</h3>
            
            <ul class="list_2">
            	<li>Average 3 weeks sprint</li>
                <li>Define <i class="fa fa-check"></i></li>
                <li>Design <i class="fa fa-check"></i></li>
                <li>Development <i class="fa fa-check"></i></li>
                <li>Integrate <i class="fa fa-check"></i></li>
                <li>Testing <i class="fa fa-check"></i></li>
            </ul>
            
        </div>
    </div><!-- end left circle -->
    
    <div class="right">
    	<div class="circle">
        	
        	<h3>daily scrums</h3>
            
            <strong>15 minutes Daily Meeting</strong>
            
            <ul>
            	<li>1.what did i accomplish yesterday?</li>
                <li>2.what will i do today?</li>
                <li>3. What obstacles are <br> impeding my progress?</li>
                <li>4.what did i do yesterday?</li>
            </ul>
            
        </div>
    </div><!-- end right circle -->
    
</div>
</div><!-- end features section5 -->

<div class="clearfix"></div>

<div class="features_sec44">
<div class="container">

	<h2 class="section_title_drakgray"><strong>Our</strong> Features</h2>
    
    <div class="one_half">
    	
        <div class="accrodation">
       
		<!-- section 1 -->
        <span style="width: 562px;" class="acc-trigger active"><a href="#">45+ Diffrent Featured Sections</a></span>
        <div style="display: block; width: 562px;" class="acc-container">
        <div class="content">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat a, laoreet vel, bibendum in, nibh. Donec elit lectus, pharetra quis, vulputate in, lobortis at, mi. Donec libero purus, pulvinar ac, congue id, iaculis ut, est.</p><br>
        </div>
        </div>
   
        <!-- section 2 -->
        <span style="width: 562px;" class="acc-trigger"><a href="#">10 Home Page Verstions</a></span>
        <div style="display: none; width: 562px;" class="acc-container">
        <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat a, laoreet vel, bibendum in, nibh. Donec elit lectus, pharetra quis, vulputate in, lobortis at, mi. Donec libero purus, pulvinar ac, congue id, iaculis ut, est.</p><br>
        </div>
        </div>
        
        <!-- section 3 -->
        <span style="width: 562px;" class="acc-trigger"><a href="#">5 Diffrent Header Designs</a></span>
        <div style="display: none; width: 562px;" class="acc-container">
        <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat a, laoreet vel, bibendum in, nibh. Donec elit lectus, pharetra quis, vulputate in, lobortis at, mi. Donec libero purus, pulvinar ac, congue id, iaculis ut, est.</p><br>
        </div>
        </div>
        
    </div>
        
    
	</div><!-- end section -->
    
    <div class="one_half last">
    	
        <img src="assets/site-img52.png" alt="" class="img_right">
        

	</div><!-- end section -->
    
</div>
</div><!-- end features section44 -->

<div class="clearfix"></div>

<div class="features_sec9">
<div class="container">

	<h2 class="section_title_white"><strong>Our</strong> Services</h2>
    
    <div class="one_fourth">
    	
        <div class="box">
            <div class="image">
                
                <div>
                <i class="fa fa-coffee"></i>
                <h4>Design</h4>
                </div>
                
            </div>
            <div class="text">
                <div><h4>Design</h4> Lorem ipsum dolor sit amet, consectetuer  elit. Suspen disse et justo.</div>
            </div>
        </div>
        
    </div><!-- end section -->
    
    <div class="one_fourth">
    	
        <div class="box">
            <div class="image">
                
                <div>
                <i class="fa fa-desktop"></i>
                <h4>Devolopment</h4>
                </div>
                
            </div>
            <div class="text">
                <div><h4>Devolopment</h4> Lorem ipsum dolor sit amet, consectetuer  elit. Suspen disse et justo.</div>
            </div>
        </div>
        
    </div><!-- end section -->
    
    <div class="one_fourth">
    	
        <div class="box">
            <div class="image">
                
                <div>
                <i class="fa fa-search"></i>
                <h4>Branding</h4>
                </div>
                
            </div>
            <div class="text">
                <div><h4>Branding</h4> Lorem ipsum dolor sit amet, consectetuer  elit. Suspen disse et justo.</div>
            </div>
        </div>
        
    </div><!-- end section -->
    
    <div class="one_fourth last">
    	
        <div class="box">
            <div class="image">
                
                <div>
                <i class="fa fa-camera"></i>
                <h4 class="nocaps">Photography</h4>
                </div>
                
            </div>
            <div class="text">
                <div><h4 class="nocaps">Photography</h4> Lorem ipsum dolor sit amet, consectetuer  elit. Suspen disse et justo.</div>
            </div>
        </div>
        
    </div><!-- end section -->
      
</div>
</div><!-- end features section9 -->

<div class="clearfix margin_top7"></div>

<div class="container">
<div class="punchline_text_box">

	<div class="left">
    <strong>Internet tend to repeat predefined making this the first true generators.</strong>
    <p>Latin words, consectetur and going through as the cites of the word in classical literature discoveres
the undoubtable source</p>
    </div>

	<div class="right"><a href="#" class="knowmore_but"><i class="fa fa-hand-o-right fa-lg"></i> Know&nbsp;More</a></div>
    
</div>
</div><!-- end punch text box -->


<div class="divider_line_half"><div class="container"><div class="divider_line5"></div></div></div><!-- end divider line -->

<div class="features_sec43">
<div class="container">

	<h2 class="section_title_drakgray"><strong>what</strong> we offer</h2>
    
    <div class="one_half">
    	
        <ul>
        	<li class="icon"><i class="fa fa-umbrella"></i></li>
            <li class="text"><h4 class="nocaps">45+ Diffrent Sections</h4> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p></li>
        </ul>
        
        <ul>
        	<li class="icon"><i class="fa fa-star"></i></li>
            <li class="text"><h4 class="nocaps">10 Home Pages</h4> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p></li>
        </ul>
        
        <ul>
        	<li class="icon"><i class="fa fa-cog"></i></li>
            <li class="text"><h4 class="nocaps">5 Header Designs</h4> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p></li>
        </ul>
        
        <ul>
        	<li class="icon"><i class="fa fa-check"></i></li>
            <li class="text"><h4 class="nocaps">5 Footer Styles</h4> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p></li>
        </ul>

	</div><!-- end section -->
    
    <div class="one_half last">
    	
        <ul>
        	<li class="icon"><i class="fa fa-tablet"></i></li>
            <li class="text"><h4 class="nocaps">100% Responsive</h4> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p></li>
        </ul>
        
        <ul>
        	<li class="icon"><i class="fa fa-code"></i></li>
            <li class="text"><h4 class="nocaps">Clean Code</h4> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p></li>
        </ul>
        
        <ul>
        	<li class="icon"><i class="fa fa-leaf"></i></li>
            <li class="text"><h4 class="nocaps">5 Diffrent Sliders</h4> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p></li>
        </ul>
        
        <ul>
        	<li class="icon"><i class="fa fa-coffee"></i></li>
            <li class="text"><h4 class="nocaps">Clean PSD Files</h4> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p></li>
        </ul>

	</div><!-- end section -->
    
</div>
</div><!-- end features section43 -->


</div><!-- end content area -->


<div class="clearfix margin_top1"></div>

<div class="footer1">
<div class="container">
	
    <div class="one_fourth">
		
    <ul class="faddress">
    	<li><img src="assets/footer-logo.png" alt="" /></li>
        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seattle, WA 98122-1090</li>
        <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i> info@yourdomain.com</a></li>
	</ul>
      
	</div><!-- end address -->
    
    <div class="one_fourth">
	<div class="ftags">
    	
        <h3 class="nocaps">Tags</h3>
        
        <ul>
        	<li><a href="#">Awesome</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">UI Design</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">All</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Creative</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Wireframe</a></li>
        </ul>
        
    </div>
    </div><!-- end tags -->
    
    <div class="one_fourth">
    <div class="twitter_feed">
    
        <h3 class="nocaps">Latest Tweets</h3>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Liwo - Responsive Template on ThemeForest.<br />
        <a href="#" class="small">.9 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
        
        <div class="clearfix margin_top3"></div>
        
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Joosa - Responsive HTML5 / CSS3, Corporate Theme.<br />
        <a href="#" class="small">.10 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
    
    </div>
    </div><!-- end tweets -->
    
    <div class="one_fourth last">
        
        <h3 class="nocaps">Flickr Photos</h3>
        
        <div id="flickr_badge_wrapper">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=h&amp;source=user&amp;user=93382411%40N07"></script>     
        </div>
        
    </div><!-- end flickr -->
    
</div>
</div><!-- end footer -->

<div class="clearfix"></div>

<div class="copyright_info two">
<div class="container">
    
    <div class="one_half">
    
        Copyright © 2014 elos.com. All rights reserved.  <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
        
    </div>
    
    <div class="one_half last">
        
        <ul class="footer_social_links">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-html5"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
            
    </div>
    
</div>
</div><!-- end copyright info -->


<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->





</div>

    

>

<!-- jquery jcarousel -->
<script type="text/javascript">
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
</script>


  
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-374977-27']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>



<script type="text/javascript">
	// Menu drop down effect
	$('.dropdown-toggle').dropdownHover().dropdown();
	$(document).on('click', '.fhmm .dropdown-menu', function(e) {
	  e.stopPropagation()
	})
</script>

</body>
</html>
